<html>
  <head>
    <title>Intro</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
      <div align=right style="padding-top: 3%; padding-right: 3%;">
          <a href="/docs">/docs</a>
          <br />
          <a href="/table">/table</a>
      </div>
      <div align=left style="padding: 3%;">
        <h1>Programming Paradigms CS Assignment</h1>
        <h2>Adithya G</h2>>
        <p>This project scrapes Flikart for mobile phones and updates a MongoDB collection. An API was built using Flask for CRUD operations on the MongoDB collection. The API was used to build a webpage to query and display the contents of the DB.</p>
    </div>
  </body>
</html>
